.covercolor{
  background: #264653;
 }


.buttoncolor{
   background-color:  #E76F51;
}



.fa-star.filled{
    color: gold;
  
 }
 .fa-star.empty{
    color: lightgray;
 }


 .grayscale{
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
 }
