  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
.buttoncolor{
   background-color:  #E76F51;
}

.bikefamily{
   font-family: ubuntu;
}
.fa-star.filled{
    color: gold;
  
 }
 .fa-star.empty{
    color: lightgray;
 }


 .grayscale{
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
 }
 .bg-dark{
   background-color: #264653 !important;
  }